/* HOME-lOGIN */

.form-login__flex {
    display: flex;
    justify-content: center;
    padding: 8rem 0;
    width: 27.5rem;
}
@media (min-width: 1440px) {
    .form-login__flex {
        width: 42.3rem;
    }
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
}
.form-login__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-gray);
    margin: 0;
}
@media (min-width: 1440px) {
    .form-login__title {
        font-size: 2rem;
    }
}
.form-login__container-input {
    width: 100%;
}
.form-login__mask {
    padding: 1.3rem 1rem;
    background-color: var(--color-bg1);
    width: 100%;
    border-bottom: 1px solid #C8C8C8;
    transition: border-bottom 200ms ease-in-out;
}
.form-login__mask:hover {
    border-bottom: 1px solid var(--color-blue);
}
@media (min-width: 1440px) {
    .form-login__mask {
        padding: 2.5rem 1rem;
        
    }
}
.form-login__input {
    all: unset;
    font-size: 1.6rem;
    color: #a2a2a2;
    font-weight: 400;
    width: 100%;
}
.form-login__send {
    border: none;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.2rem 3rem;
    background-color: var(--color-blue);
    color: var(--color-bg1);
    transition: color 200ms ease-in-out;
}
@media (min-width: 1440px) {
    .form-login__send {
        font-size: 1.8rem;
        padding: 2.5rem;
        text-align: center;
    }
}
.form-login__alert {
    margin: .5rem 0 0 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-bg1);
    background-color: var(--color-red);
    padding: 1rem 0;
}

.opacity {
    opacity: 50%;
    transition: none;
    cursor: text;
}